<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.718055349175-e8j619g96qdn8l5a15dfn8ok6ncj4v03</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In 2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.15364376159-35vsdqlicta1qs13esic0pqbirf3mipo</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>GIDClientID</key>
	<string>15364376159-35vsdqlicta1qs13esic0pqbirf3mipo.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
